# interact

In [317]:
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import pandas as pd
from numpy import random as rnd
from matplotlib import pyplot as plt

In [318]:
def f(x):
    return 3*x

In [319]:
interact(f, x=10);

interactive(children=(IntSlider(value=10, description='x', max=30, min=-10), Output()), _dom_classes=('widget-…

# interactive

In [320]:
df = pd.DataFrame(index = range(20), columns = ['revs', 'cogs','admin','profit'])
df['revs'] = rnd.randint(0, high=100, size=20)
df

    revs cogs admin profit
0     42  NaN   NaN    NaN
1     44  NaN   NaN    NaN
2     85  NaN   NaN    NaN
3     50  NaN   NaN    NaN
4     77  NaN   NaN    NaN
5     29  NaN   NaN    NaN
6      2  NaN   NaN    NaN
7     32  NaN   NaN    NaN
8     59  NaN   NaN    NaN
9      6  NaN   NaN    NaN
10     8  NaN   NaN    NaN
11    65  NaN   NaN    NaN
12     4  NaN   NaN    NaN
13    89  NaN   NaN    NaN
14    76  NaN   NaN    NaN
15    30  NaN   NaN    NaN
16    78  NaN   NaN    NaN
17    72  NaN   NaN    NaN
18    46  NaN   NaN    NaN
19    18  NaN   NaN    NaN

In [321]:
def calc():
    df['profit'] = df['revs'] - df['cogs'] - df['admin']

In [322]:
def cogs(a):
    df['cogs'] = df['revs']*a

In [323]:
def admin(b):
    df['admin'] = df['revs']*b

In [324]:
def plot(df):
    plt.bar(df.index+.17,df['cogs'], width=0.35)
    plt.bar(df.index-.17,df['admin'], width=0.35)

In [325]:
def f(a, b):
    cogs(a)
    admin(b)
    calc()
    plot(df)
#     display(df)

In [326]:
w = interactive(f, a=0.2, b=0.1)

In [327]:
# type(w)

In [328]:
display(w)

interactive(children=(FloatSlider(value=0.2, description='a', max=0.6000000000000001, min=-0.2), FloatSlider(v…